* {
  margin: 0;
}
body {
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
  margin: 0 auto;
}
:root {
  --brand-color: #2196f3;
  --font-color1: #212121;
  --font-color2: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--padding {
  padding-bottom: 0px;
}
.section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.section--team {
  background-color: #f5f4fa;
}
.list-box {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
  padding: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 10px;
  max-width: 270px;
}

.card__background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.card__icon {
  margin-top: 25px;
  margin-right: 102px;
  margin-bottom: 25px;
  margin-left: 102px;
}
.card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}
.card__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}
.list-box__image {
  flex-basis: calc((100%-60px) / 3);
  position: relative;
  max-width: 370px;
  max-height: 294px;
}
.list-box__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--font-color2);
  text-align: center;
  padding: 27px 90px 27px 90px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-box__business-card {
  flex-basis: calc((100%-90px) / 4);
  list-style: none;
  background-color: var(--font-color2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-box__clients {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-box__clients:hover,
.list-box__clients:focus {
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 30px 99px 10px 99px;
}
.job-title {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  white-space: nowrap;
}

.icon-box {
  margin: 20px 32px;
  display: flex;
  justify-content: space-between;
}
.icon-box__social {
  fill: #afb1b8;
  padding: 12px;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-box__social:hover,
.icon-box__social:focus {
  fill: var(--font-color2);
  background-color: #2196f3;
  cursor: pointer;
}
.logo-web {
  color: var(--brand-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-studio-header {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-studio-footer {
  color: var(--font-color2);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.link-nav {
  color: var(--font-color1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}

.contact-footer {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--brand-color);
}
.button-main {
  padding: 10px 41px 10px 42px;
}

.button-nav {
  font-family: "Roboto";
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-nav:hover,
.button-nav:focus {
  background-color: var(--brand-color);
  color: var(--font-color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.main-header {
  color: var(--font-color2);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
  margin: 0;
}

.projects-type {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding: 0px 24px 20px 24px;
  margin: 0;
}
.footer-box {
  background: #2f303a;
}
.link-footer {
  color: var(--font-color2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--brand-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.nav-list {
  display: flex;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}
.nav-list-logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  flex-grow: 1;
}
.nav-list-menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  column-gap: 46px;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  flex-grow: 2;
}
.nav-list-contact {
  display: flex;
  list-style-type: none;
  align-items: center;
  column-gap: 50px;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
}

.main-header-box {
  background-color: #2f303a;
  background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
    url("../images/main/mainimages.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-header-box-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  list-style-type: none;
  padding-top: 20px;
  padding-left: 0px;
  margin: 0;
}
.footer-list-box {
  display: flex;
  justify-content: space-between;
}

.address-footer-style {
  padding-bottom: 9px;
}
.mail-footer-style {
  padding-bottom: 9px;
}
.menu-portfolio-list {
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
}
.header-border {
  border-bottom: 1px solid #ececec;
  padding-top: 0px;
}
.card-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  margin-bottom: 94px;
  padding: 0px;
}
.card-portfolio-style {
  list-style-type: none;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 50px) / 3);
  cursor: pointer;
  max-width: 370px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio-style:hover,
.card-portfolio-style:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-box {
  background-color: #ffffff;
}

.social-header {
  text-transform: uppercase;
  color: var(--font-color2);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin: 0;
}
.footer-contact-box {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer-icon-box {
  padding-top: 72px;
  display: inline-flexbox;
  margin-right: 78px;
}

.footer-icon-box-inside {
  display: flex;
  column-gap: 10px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.icon-instagram-style {
  display: flex;
  fill: var(--font-color2);
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  padding: 12px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-instagram-style:hover,
.icon-instagram-style:focus {
  fill: var(--font-color2);
  border-radius: 50%;
  background-color: #2196f3;
  cursor: pointer;
}
.icon-twitter-style {
  display: flex;
  fill: var(--font-color2);
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  padding: 12px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-twitter-style:hover,
.icon-twitter-style:focus {
  fill: var(--font-color2);
  border-radius: 50%;
  background-color: #2196f3;
  cursor: pointer;
}
.icon-facebook-style {
  display: flex;
  fill: var(--font-color2);
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  padding: 12px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-facebook-style:hover,
.icon-facebook-style:focus {
  fill: var(--font-color2);
  border-radius: 50%;
  background-color: #2196f3;
  cursor: pointer;
}
.icon-linkedin-style {
  display: flex;
  fill: var(--font-color2);
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  padding: 12px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-linkedin-style:hover,
.icon-linkedin-style:focus {
  fill: var(--font-color2);
  border-radius: 50%;
  background-color: #2196f3;
  cursor: pointer;
}

.mail-header {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-header:hover,
.mail-header:focus {
  fill: var(--brand-color);
  color: var(--brand-color);
}
.tel-header {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-header:hover,
.tel-header:focus {
  fill: var(--brand-color);
  color: var(--brand-color);
}
.images-portfolio-box {
  position: relative;
  overflow: hidden;
}
.card-portfolio-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--font-color2);
  padding: 49px 45px 29px 24px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  margin: 0;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio-style:hover .card-portfolio-description {
  transform: translateY(0);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 528px;
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-in;
  padding: 40px 40px 40px 40px;
}
.button-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--font-color2);
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  cursor: pointer;
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.close-icon-style {
  padding: 9px, 9px, 10px, 10px;
}
.is-hidden .modal {
  transform: translate(0%, 0%) scale(0);
}
.main-nav-underline {
  position: relative;
}
.main-nav-underline::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}
.portfolio-nav-underline {
  position: relative;
}
.portfolio-nav-underline::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  width: 58px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.contact-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  display: flex;
  margin-bottom: 4px;
  margin-top: 10px;
}
.contact-data-form {
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 0px 11px 12px;
  max-height: 40px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name {
  border: none;
  width: 100%;
}
.input-name:focus,
.input-name:hover {
  outline: none;
}
.contact-data-form:focus-within,
.contact-data-comment:focus-within {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}
.textarea {
  resize: none;
  border: none;
  width: 416px;
  height: 96px;
  margin: 12px 16px 12px 16px;
  padding: 0;
}
.textarea:focus,
.textarea:hover {
  outline: none;
  border: none;
}

.contact-data-comment {
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.header-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}
.checkbox {
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-top: 25px;
  margin-left: 14px;
}

.checkbox input[type="checkbox"] {
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:checked + .icon {
  display: flex;
}
.icon {
  position: absolute;
  pointer-events: none;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  display: none;
  width: 16px;
  height: 15px;
  background-color: var(--brand-color);
  border-radius: 2px;
  fill: var(--font-color2);
}
.regulation {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
  align-items: center;
  color: #757575;
  cursor: pointer;
}
.regulation-box {
  display: flex;
}
.regulation-color-link {
  color: var(--brand-color);
}
.button-submit {
  padding: 10px 76px 10px 76px;
  margin-top: 30px;
}
.newsletter-box-form {
  display: flex;
  flex-direction: column;
}
.newsletter-box-button {
  display: flex;
  margin-left: 12px;
}

.newsletter-main-box {
  display: flex;
}
.newsletter-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font-color2);
  padding-top: 72px;
  padding-bottom: 20px;
  margin: 0;
}
.email-newsletter {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  padding: 15px 0px 15px 16px;
  display: flex;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  letter-spacing: 0.03em;
}

.input-newsletter {
  outline: none;
  border: none;
  width: 340px;
  background-color: #2f303a;
  color: var(--font-color2);
}
.button-newsletter {
  width: 200px;
  height: 50px;
  margin-top: 108px;
  display: flex;
  padding-left: 42px;
}
.icon-send-style {
  margin-left: 24px;
}
.email-newsletter:hover {
  border-color: var(--brand-color);
}
.button-submit-box {
  display: flex;
  justify-content: center;
}
.button-agency {
  background-color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-agency:hover,
.button-agency:focus {
  color: var(--font-color2);
  background-color: var(--brand-color);
  fill: var(--font-color2);
}
