.contact {
  display: flex;
  list-style-type: none;
  align-items: center;
  column-gap: 50px;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  &__link {
    color: #757575;
    fill: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition-property: fill, color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTiming;
  }
  &__link:hover,
  &__link:focus {
    fill: $brandColor;
    color: $brandColor;
  }
}
